body{
    background-color: rgb(246, 230, 206);
}
.navbar{
    background-color: rgb(79, 125, 36);
    border-radius: 0 0 10px 10px;
}
.textnav{
    color: black;
}
.maintextnav{
    color: white;
}
.buttonnav{
    background-color: rgba(222, 255, 172, 0.44);
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 8px;
}
.accordion{
    margin-top: 5%;
    width: 100%;
    padding: 5%;
}
.carousel-control-prev-icon{
    background-image: url(rowicon.png);
}
.carousel-control-next-icon{
    background-image: url(righticonremove.png);
}
.coloraccor{
    background-color: rgb(79, 125, 36);
    color: white;
}
.widthaccor{
    width: 100%;
}
.mountain{
    width: 100%;
    margin-top: -10%;
}
.height{
    height: 250px;
}